#top{
    padding: 0px;
    position: relative;
}
.name-title{
    text-align:center;
    font-size: 50px;
    color: white;
    vertical-align:middle;
    margin:0px;
    height:auto;
}
#button-container{
    width: 100%;
    text-align: center;
    height: auto;
}
.icon-buttons{
    border-radius: 50%;
}
#navigation-bar{
    height: 120px;
    background-color: black;
    width: 100%;
    z-index: 10;
}
.fab:hover {
    opacity: 0.7;
    cursor: pointer;
}
#biography, #projects, #experience{
    background-color: black;
    text-align: center;
    margin: 0;
}
.header-titles{
    color:white;
    margin:0;
}
.paragraph-texts{
    color:white;
    margin:0;
    text-align:left;
}
.skill-bars{
    width:50%;
    margin-left:25%;
    text-align: center;
}
#skills{
    margin:0;
    text-align: center;
    height: auto;
}
.buffer{
    height: 50px;
}
.big-buffer{
    height: 150px;
}
h5{
    margin-bottom:0;
}
h2{
    margin:0;
}
.white-dots{
    color:white;
    margin:0;
}
#projects{
    margin:0;
}
.image-half{
    width:50%;
}
#amazon-image-half{
    width:90%;
}
#aira-description{
    padding-left: 15%;
}
#fff-description{
    padding-left: 15%;
}
.footer-text{
    color:white;
    margin:0;
    align-content: center;
}